<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="reg">
  {% csrf_token %}

  <label>Enter Roll number </label>
  <input type="number" name="n1"><br><br>

    <label>Enter Name </label>
  <input type="text" name="n2"><br><br>

    <label>Enter Age    </label>
  <input type="number" name="n3"><br><br>

    <label>Enter mark    </label>
  <input type="number" name="n4"><br><br><br>

  <input type="submit" value="Register">
</form><br>
<br>
<a href="dis">Display Details</a>
</body>
</html>