<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addition</title>
</head>

<body style="background-color:yellow;">
<center><h1><u>ADDITION</u></h1></center>
<center><form action="task" method="post">
    {% csrf_token %}
    <input type="text" placeholder="ENTER 1ST NUMBER :" name="nu1"><br>
    <center><h1>+</h1></center>
    <input type="text" placeholder="ENTER 2ND NUMBER :" name="nu2"><br><br>
    <input type="submit" value="=">

</form></center>
<br>
<center><input type="text" value="             {{a}} {{name}}"></center>

</body>
</html>